@import url('../../styles/global.css');
@import url('../../styles/variables.css');

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0% 10rem;
    gap: 2rem;

    .section-with-img-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        &.height-total {
            height: 100vh;
        }

        .section-informations-container {
            display: flex;
            flex-direction: column;
            width: 47%;
            gap: 2rem;
            h1 {
                font-size: 3.5rem;
                color: var(--title-color);

                span {
                    color: var(--highlight-color);
                }
            }

            h2 {
                font-size: 2.6rem;
                color: var(--title-color);
            }

            p {
                font-size: 1.65rem;
                line-height: 3.4rem;
                text-align: justify;
            }

             

            & .table-img {
                width: 78%;
            }

        }

        .figure {
            width: 45%;
            img {
                width: 100%;
            }

            img.flip {
                transform: scaleX(-1);
            }
        }
    }

    .section-container {
        display: flex;
        flex-direction: column;
        gap: 5rem;
        justify-content: center;
        align-items: center;
        width: 100%;
        
        h2 {
            font-size: 2.6rem;
            color: var(--title-color);
        }

        ul {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            justify-content: space-between;
            list-style: none;
            gap: 2rem;
            width: 100%;

             li {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;     
                gap: 1rem;           
                background-color: var(--highlight-color);
                width: 100%;
                height: 20rem;
                border-radius: 2rem;
                padding: 5rem;
                color: white;
                transition: all .2s;

                &:hover {
                    transform: translateX(12px) translateY(-12px);
                    box-shadow: rgba(219, 30, 47, 0.4) -5px 5px, rgba(219, 30, 47, 0.3) -10px 10px, rgba(219, 30, 47, 0.2) -15px 15px, rgba(219, 30, 47, 0.1) -20px 20px, rgba(219, 30, 47, 0.05) -25px 25px;
                }
    

                span {
                    font-weight: 600;
                    font-size: 1.7rem;
                }

                p {
                    font-size: 1.4rem;
                    font-weight: 400;
                    text-align: center;
                    color: rgb(224, 248, 251);
                }
             }
        }
    }
}

@media screen and (min-width: 1600px) {
    .home-container {
        gap: 2rem;
        .section-with-img-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-width: 80vh;
            width: 100%;

            &.height-total {
                height: 100vh;
            }

            .section-informations-container {
                display: flex;
                flex-direction: column;
                width: 44%;
                gap: 2rem;
                h1 {
                    font-size: 4.5rem;
                    color: var(--title-color);
    
                    span {
                        color: var(--highlight-color);
                    }
                }
    
                h2 {
                    font-size: 3.5rem;
                    color: var(--title-color);
                }
    
                p {
                    font-size: 1.8rem;
                    line-height: 3.4rem;
                    text-align: justify;
                }

                & .table-img {
                    width: 85%;
                }
            }
        }

        .section-container {
            
            h2 {
                font-size: 3.5rem;
            }
    
            ul {
                 li {

                    span {
                        font-weight: 600;
                        font-size: 2.2rem;
                    }
    
                    p {
                        font-size: 1.7rem;
                        font-weight: 400;
                        text-align: center;
                        color: rgb(224, 248, 251);
                    }
                 }
            }
        }

        
    }
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem 8rem;
    border: none;
    border-radius: 10rem;
    font-weight: 600;
    font-size: 1.8rem;
    text-decoration: none;
    cursor: pointer;
    transition: 200ms;

    &:hover {
        transform: scale(1.04);
    }

    &.primary {
        background-color: var(--highlight-color);
        color: white;  
    }
}

p {
    color: #363636cc;
}
