@import url('../../styles/variables.css');

.topsis-form-page-container {
    display: flex;
    padding: 2% 10rem;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    gap: 2rem;
   
    h1 {
        font-size: 3.5rem;
        color: var(--title-color);
    }


    p {
        font-size: 1.3rem;
        line-height: 3rem;
    }
    
    .img-container {     
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        
        img {
            top: 50%;
            width: 90%;
        }
    }

    .forms-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: flex-start;
        justify-content: flex-start;
        width: 60%;
        height: 100%;
        padding: 3rem;

        .label-box {
            display: flex;
            gap: 1rem;
            align-items: center;
        }
      
        label {
            font-weight: 600;
            font-size: 1.6rem;
            color: var(--title-color);
        }

        .select-container {
            display: flex;
            position: relative;
            width: 100%;
            height: 100%;

            .angle-down-select {
                position: absolute;
                right: 1.5rem;
                color: var(--title-color);
                top: 35%;
            }
        }



        fieldset {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 100%;
            border: none;

            .input-box {
                display: grid;
                grid-template-columns: 1fr 0.2fr;
        
                & .input-addition {
                    padding: 2rem;
                        border-radius: 1rem 0rem 0rem 1rem;
                        border: .1rem solid #ccc;
                        border-right: none;
                        background-color: #F5F5F5;
                        height: 4.5rem;
                        color: var(--text-color);
                        font-weight: 500;
                }

                & .button-addition {
                    border-radius: 0rem 1rem 1rem 0rem;
                    border: .1rem solid var(--highlight-color);
                    border-left: none;
                    background: linear-gradient(106deg, rgba(219,30,47,1) 55%, rgba(255,165,109,1) 100%);
                    color: white;
                    font-size: 1.4rem;
                    font-weight: 600;
                    cursor: pointer;
                    transition: 200ms all;

                    &:hover {
                        opacity: 0.8;
                    }
                }
            }

            .filled-inputs-list {
                display: flex;
                gap: .5rem;
                list-style: none;
                color: rgb(255, 255, 255);

                & li {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: fit-content;
                    padding: .5rem;
                    border-radius: 1rem;
                    background: linear-gradient(106deg, rgba(219,30,47,1) 55%, rgba(255,165,109,1) 100%);
                    font-size: 1.4rem;
                    font-weight: 600;
                }
            }

            .list-types-criteria {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                gap: 1rem;
                flex-wrap: wrap;
                width: 100%;

                .type-criteria {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 1rem;
                    width: 100%;
                    max-width: 100%;

                    span {
                        display: flex;
                        height: 100%;
                        font-weight: 600;
                        padding: 1rem 1.5rem;
                        font-size: 1.4rem;
                        background: linear-gradient(106deg, rgba(219,30,47,1) 55%, rgba(255,165,109,1) 100%);
                        color: white;
                        border-radius: 1rem 0rem 0rem 1rem;
                        width: fit-content;
                        word-wrap: break-word; /* Quebra palavras longas */
                        overflow-wrap: break-word; /* Alternativa moderna */
                    }

                    
                    select {
                        appearance: none;
                        border-radius: 0rem 1rem 1rem 0rem;
                        padding: 1rem;
                        background-color: #F5F5F5;
                        border: .1rem solid #ccc;
                        color: var(--text-color);
                        width: 100%;
                        cursor: pointer;

                        &:focus {
                            outline: none;
                        }

                        & option {
                            background-color: var(--highlight-color);
                            color: white;
                        }
                    }

                    .angle-down-select {
                        color: var(--text-color);
                    }

                    input {
                        display: flex;
                        border: .1rem solid #ccc;
                        background-color: #F5F5F5;
                        width: 100%;
                        height: 100%;
                        border-radius: 0rem 1rem 1rem 0rem;
                        padding: 1rem;
                        color: var(--text-color);
                    }
                }
             }

             
        }
    }

    .matrix-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 100%;
        border-radius: 1rem;
        gap: 1rem;

        span {
            font-size: 1.4rem;
            font-weight: 600;
            color: white;
        }


        .fieldset-matrix {
            display: flex;

            &:nth-child(n+2) {
                border-top: .1rem solid #ccc;
                padding-top: 1rem;
            }

            span {
                background: linear-gradient(106deg, rgba(219,30,47,1) 55%, rgba(255,165,109,1) 100%);
                padding: 1rem;
                border-radius: 1rem;
                width: fit-content;
                color: white;
                font-size: 1.4rem;
            }
        }

        .list-matrix {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 1rem;

          
            .item-matrix {
                display: flex;
                justify-content: center;
                background-color: #F5F5F5;
                border-radius: 1rem;

                label {
                    display: flex;
                    padding: 1rem 1.5rem;
                    border-radius: 1rem 0rem 0rem 1rem;
                    background: linear-gradient(106deg, rgba(219,30,47,1) 55%, rgba(255,165,109,1) 100%);
                    font-size: 1.4rem;
                    height: 100%;
                    color: white;
                }

                input {
                    display: flex;
                    border: .1rem solid #ccc;
                    width: 100%;
                    height: 100%;
                    background-color: #F5F5F5;
                    border-radius: 0rem 1rem 1rem 0rem;
                    color: var(--text-color);
                    padding: 1rem;
                }
            }
         }
    }   
}


.button {
    &.submit {
        width: 100%;
        border-radius: 1rem;
        font-size: 1.7rem;
    }
}

.u-flex-right {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
}

.select-distance-metric {
    appearance: none;
    height: 4.5rem;
    border-radius: 1rem;
    padding: 1rem;
    padding-left: 2rem;
    background-color: #F5F5F5;
    border: .1rem solid #ccc;
    color: #363636cc;
    width: 100%;
    cursor: pointer;

    &:focus {
        outline: none;
    }
    
}

.error-message {
    color: red;
    font-size: 1.3rem;
    font-weight: 600;
}

@media screen and (min-width: 1600px) {
    .topsis-form-page-container {
        min-height: 100vh;

        h1 {
            font-size: 4rem;
            color: var(--title-color);
        }

        p {
            font-size: 1.6rem;
            line-height: 3rem;
            text-align: justify;
        }

        .forms-container {
            width: 55%;

            label {
                font-size: 2rem;
            }

            .button-addition {
                font-size: 1.6rem !important;
            }

            .type-criteria {
                span {
        
                    font-size: 1.6rem !important;
                }
            }

        }

        .matrix-container {

            .fieldset-matrix {
                span {
                    font-size: 1.6rem !important;
                }
            }

            .list-matrix {
                .item-matrix {
                    label {
                        font-size: 1.6rem !important;
                    }
                }
            }
        }

       

        input, select {
            font-size: 1.6rem !important;
        }

        .button-addition {
            font-size: 1.6rem !important;
        }

        .button {
            &.submit {
                width: 100%;
                border-radius: 1rem;
                font-size: 1.8rem;
            }
        }
    }
}